
.picture1 {
  width: 406px;
  height: 419px;
  margin: 1rem;

  
}


.head {
  font-family: sans-serif;
  text-align: center;
  font-size: x-large;
}

.para1 {
  font-family: sans-serif;
  text-align: center;
  text-decoration-color: rgb(25, 0, 255);
}
.movielist {
  display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: space-around; */
    flex-wrap: wrap;
    margin-top: 2rem;
    height: 927px;
    width: 100%;
    margin-left: 0px;

}
.star {
  text-align:center;
}

.movie-items{
  display: flex;
  height: 943px;
  width: 465px;
    flex-direction: column;
    border: 2px ssolid black;
    border: 2px solid black;
    margin-left: 2rem;
    margin-top: 10px;
    background-color: rgb(71, 231, 218);
}
  
.para{
  margin-left:2px;
  text-align: center;
}
.mov-rel{
  color:rgb(255, 0, 234);
}
.mov-rat{
  color:rgb(255, 0, 234);
}
.mov-sum{
  color:rgb(255, 0, 234);
}
.link{
  text-align: center;
}

.like-dislike-buttons{
  display:flex;
  gap: 5px;
  align-items: flex-end;
  margin-right: 10px;;

}

.like-dislike-buttons>button{
  font: 16px;
}
.but{
  width:130px;
  margin-left:140px;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 4px 2px; */
  

}