
.picture1 {
  width: 373px;
    height: 396px;
 

  
}


.head {
  font-family: sans-serif;
    text-align: center;
    font-size: 25px;
    margin-bottom: 24px;
}

.para1 {
  font-family: sans-serif;
    
    margin-top: -5px;
    margin-left: 10px;
    text-decoration-color: rgb(25, 0, 255);
}
.movielist {
  display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-around; */
    flex-wrap: wrap;
    margin-top: 2rem;
    height: 927px;
    width: 409px;
    margin-left: 0px;

}
.star {
  margin-top: -38px;
    margin-left: 238px;
}

.movie-items{
  display: flex;
  height: 943px;
  width: 373px;
    flex-direction: column;
    flex-wrap: wrap;
    border: 2px ssolid black;
    border: 2px solid black;
    margin-left: 2rem;
    margin-top: 10px;
    /* background-color: rgb(71, 231, 218); */
}
  
.para{
  margin-left:2px;
  /* text-align: center; */
}
.mov-rel{
  color:rgb(255, 0, 234);
}
.mov-rat{
  color:rgb(255, 0, 234);
}
.mov-sum{
  color:rgb(255, 0, 234);
}
.link{
  margin-left: 10px;
  margin-top:12px;
  width:100px;
}

.like-dislike-buttons{
  margin-left: 261px;
    margin-top: -32px;

}

.like-dislike-buttons>button{
  font: 16px;
}

.cd{
  margin-left: 132px;
  margin-top: 25px;

}
.cd1{
  margin-left: -91px;
    margin-right: 35px;
    background-color:cyan;
}

.cl{
  margin-top:19px;;
}
.cool{
  display: flex;
  height: 943px;
  width: 373px;
    flex-direction: column;
    flex-wrap: wrap;
    border: 2px ssolid black;
    border: 2px solid black;
    margin-left: 2rem;
    margin-top: 10px;
    /* background-color: rgb(71, 231, 218); */


}
.picture{
  width: 373px;
    height: 396px;

}
.text{
  font-family: sans-serif;
    text-align: center;
    font-size: 25px;
    margin-bottom: 24px;
}
.yr{
  font-family: sans-serif;
    
    margin-top: -5px;
    margin-left: 10px;
    text-decoration-color: rgb(25, 0, 255);

}

.bo{

  border-radius: 20px;
    margin-top: 272px;
    margin-left: 158px;

}
.card{
  display: flex;
  gap:2px;
}
.card1{
  margin-left: 21px;
    height: 48px;
    /* background-color: pink; */
    /* gap: 2px; */
    margin-top: 26px
}